<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="author" content="ThemeZaa">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
        <meta name="description" content="Litho is a clean and modern design, BootStrap 5 responsive, business and portfolio multipurpose HTML5 template with 37+ ready homepage demos.">
        <!-- favicon icon -->
        <link rel="shortcut icon" href="{{ asset('assets/images/favicon.png') }}">
        <link rel="apple-touch-icon" href="{{ asset('assets/css/responsive.css') }}images/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('assets/images/apple-touch-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('assets/images/apple-touch-icon-114x114.png') }}">
        <!-- style sheets and font icons  -->
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/font-icons.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/theme-vendors.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/responsive.css') }}" />


        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>

            <!-- start header -->
            <header>
                <!-- start navigation -->
                <nav class="navbar navbar-boxed navbar-expand-lg navbar-light bg-transparent header-light position-absolute top-0px left-0px right-0px z-index-3 litho-landing-header litho-demo">
                    <div class="container-fluid nav-header-container h-120px md-h-80px xs-h-auto">
                        <div class="col-auto me-auto me-lg-0">
                            <a class="navbar-brand padding-20px-right md-no-padding-right" href="index.html">
                                <img src="images/logo-gradient-sky-blue-dark-pink.png" data-at2x="images/logo-gradient-sky-blue-dark-pink@2x.png" class="default-logo" alt="">
                                <img src="images/logo-gradient-sky-blue-dark-pink.png" data-at2x="images/logo-gradient-sky-blue-dark-pink@2x.png" class="mobile-logo" alt="">
                            </a>
                        </div>
                        <div class="col-auto menu-order me-lg-auto">
                            <button class="navbar-toggler float-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation">
                                <span class="navbar-toggler-line"></span>
                                <span class="navbar-toggler-line"></span>
                                <span class="navbar-toggler-line"></span>
                                <span class="navbar-toggler-line"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav alt-font text-uppercase">
                                    <li class="nav-item">
                                        <a href="#demos" class="nav-link section-link">Demos</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#features" class="nav-link section-link">Features</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="https://lithohtml.themezaa.com/documentation/" target="_blank" class="nav-link">Documentation</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-auto text-end pe-0 font-size-0 d-none d-sm-block">
                            <div class="header-button">
                                <a href="https://1.envato.market/AL7Oj" target="_blank" class="btn btn-large btn-gradient-sky-blue-pink box-shadow-double-large btn-round-edge-small">Purchase litho</a>
                            </div>
                        </div>
                    </div>
                </nav>
                <!-- end navigation -->
            </header>
            <!-- end header -->

        {% block body %}

        {% endblock %}

            <!-- javascript -->
            <script type="text/javascript" src="{{ asset('assets/js/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/theme-vendors.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/main.js') }}"></script>
    </body>
</html>
